body {
    background:url(../images/maxresdefault.jpg);
}


.jumbotron {
    text-align:center;
    background-color:#0193CF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#FFFFFF;
}

.col-lg-12 {
    text-align: center;
    background-color:#005979;
    padding: 10px;
}

tr > th {
    border-collapse:initial;
    padding-left: 10px;
    margin-left: 10px;
    line-height: 15px;
}
table {
    border-collapse:initial;
    text-align:center;
    width: -webkit-fill-available;
}
thead {
    background-color: #F9A215;
}
.panel-body {
    text-align: -webkit-center;
}

input[type=text] {
    display:block;
    width: 100%;
}

#form-group {
    text-align:left;
    color:#FFFFFF;;
    font-weight:bold;
}

tbody > tr {
    background-color:white;
    border-style: solid;
    border-color: black;
}

h3 {
    background-color: #DCDCDC;
}

.row {
    margin: 10px;
}